/* TIPOGRAFIAS */
@font-face{
	font-family: 'Lato-Black';
	src: url('../fonts/Lato-Black.ttf') format("truetype");
	font-weight:normal;
	font-display: swap;
}
@font-face{
	font-family: 'Lato-Black-Italic';
	src: url("../fonts/Lato-Black-Italic.ttf") format("truetype");
	font-weight:normal;
	font-display: swap;
}
@font-face{
	font-family: 'Lato-Bold';
	src: url("../fonts//Lato-Bold.ttf") format("truetype");
	font-weight:normal;
	font-display: swap;
}
@font-face{
	font-family: 'Lato-Bold-Italic';
	src: url("../fonts//Lato-Bold-Italic.ttf") format("truetype");
	font-weight:normal;
	font-display: swap;
}
@font-face{
	font-family: 'Lato-Italic';
	src: url("../fonts//Lato-Italic.ttf") format("truetype");
	font-weight:normal;
	font-display: swap;
}
@font-face{
	font-family: 'Lato-Light';
	src: url("../fonts//Lato-Light.ttf") format("truetype");
	font-weight:normal;
	font-display: swap;
}
@font-face{
	font-family: 'Lato-Light-Italic';
	src: url("../fonts//Lato-Light-Italic.ttf") format("truetype");
	font-weight:normal;
	font-display: swap;
}
@font-face{
	font-family: 'Lato-Medium';
	src: url("../fonts//Lato-Medium.ttf") format("truetype");
	font-weight:normal;
	font-display: swap;
}
@font-face{
	font-family: 'Lato-Regular';
	src: url("../fonts//Lato-Regular.ttf") format("truetype");
	font-weight:normal;
	font-display: swap;
}

@font-face{
	font-family: 'Roboto-Bold';
	src: url("../fonts//Roboto-Bold.ttf") format("truetype");
	font-weight:normal;
	font-display: swap;
}
@font-face{
	font-family: 'Roboto-Regular';
	src: url("../fonts//Roboto-Regular.ttf") format("truetype");
	font-weight:normal;
	font-display: swap;
}
@font-face{
	font-family: 'Roboto-Thin';
	src: url("../fonts//Roboto-Thin.ttf") format("truetype");
	font-weight:normal;
	font-display: swap;
}