$Lato-Black: 'Lato-Black';
$Lato-Black-Italic: 'Lato-Black-Italic';
$Lato-Bold: 'Lato-Bold';
$Lato-Bold-Italic: 'Lato-Bold-Italic';
$Lato-Italic: 'Lato-Italic';
$Lato-Light: 'Lato-Light';
$Lato-Light-Italic: 'Lato-Light-Italic';
$Lato-Medium: 'Lato-Medium';
$Lato-Regular: 'Lato-Regular';
$Roboto-Bold: 'Roboto-Bold';
$Roboto-Regular: 'Roboto-Regular';
$Roboto-Thin: 'Roboto-Thin';

$window-size-xl: 1650px;
$window-size-lg: 1199px;
$window-size-md: 991px;
$window-size-sm: 767px;
$window-size-xs: 575px;
$window-size-xs-02: 480px;
$window-size-xs-03: 380px;

$padding0: 0px;
$padding1: 30px;

$tx-size-xl-01: 44px;
$tx-size-xl-02: 36px;
$tx-size-xl-03: 24px;
$tx-size-xl-04: 20px;
$tx-size-xl-05: 18px;
$tx-size-xl-06: 16px;

$tx-size-lg-01: 40px;
$tx-size-lg-02: 32px;
$tx-size-lg-03: 20px;
$tx-size-lg-04: 18px;
$tx-size-lg-05: 16px;
$tx-size-lg-06: 14px;

$tx-size-md-01: 36px;
$tx-size-md-02: 28px;
$tx-size-md-03: 17px;
$tx-size-md-04: 15px;
$tx-size-md-05: 13px;
$tx-size-md-06: 12px;

$tx-size-sm-01: 32px;
$tx-size-sm-02: 24px;
$tx-size-sm-03: 16px;
$tx-size-sm-04: 14px;
$tx-size-sm-05: 12px;
$tx-size-sm-06: 11px;

$tx-size-xs-01: 28px;
$tx-size-xs-02: 20px;
$tx-size-xs-03: 15px;
$tx-size-xs-04: 13px;
$tx-size-xs-05: 11px;
$tx-size-xs-06: 10px;


$color01: #2A2A80;
$color02: #0071BC;
$color03: #00A9E4;
$color04: #0A0A21;

$color05: #035171; 
$color06: #7B2627; 
$color07: #2BAB90; 
$color08: #522F7C; 
$color09: #F09132; 
$color10: #4FCA91; 


$blanco: #FFF;
$negro: #000;

$claro01: #F5F5F5;
$claro02: #9C9C9C;

$oscuro01: #444444;
$oscuro02: #212121;

$gradient01: linear-gradient(180deg, rgba(43,48,124,1) 0%, rgba(41,139,186,1) 100% );
$gradient02: linear-gradient(90deg, rgba(43,48,124,1) 0%, rgba(41,139,186,1) 100% );

$gradient03: linear-gradient(180deg, rgba(74,9,135,1) 0%, rgba(159,15,64,1) 100% );
$gradient04: linear-gradient(90deg, rgba(74,9,135,1) 0%, rgba(159,15,64,1) 100% );

$gradient05: linear-gradient(180deg, rgba(43,94,128,1) 0%, rgba(27,206,151,1) 100% );
$gradient06: linear-gradient(90deg, rgba(43,94,128,1) 0%, rgba(27,206,151,1) 100% );

$gradient07: linear-gradient(45deg, rgba(41,139,186,1) 0%, rgba(43,48,124,1) 100% );
